body{
    height: 1748px;
    width: 1240px;
    min-width: 1240px;
    min-height: 1748px;
    font-family:"praktika";
    background-color: rgb(199, 218, 208);
    margin: 0 auto;
    padding:0;
}


.header{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    height: fit-content;
    width: 1240px;
    display:inline-block;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    line-height: 0;
    margin-left: 10%;
}

h2{
    line-height: 0;
    margin-top: 0;
    font-family: praktika;
    font-size: 40px;
    margin-left: 11%;
}

h3{
    font-size: 30px;
    font-weight: 2000;
}

h4{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 25px;
    line-height: 0%;
}
a{
    color: rgb(201, 201, 201);
    
}

p, li{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

li{
    margin: 5px;
}
.content{
    display: flex;
}

.left{
    padding: 10px;
    background-color: rgb(0, 0, 73);
    width: 35%;
    margin: 0PX;
    color: rgb(201, 201, 201);
}

.left hr{
    border-color:rgb(201, 201, 201);
    background-color: rgb(201, 201, 201);
}

.right{
    width: 65%;
    padding: 10px;
    background-color: white;
}

.divider{
    width: 5px;
    height: 1000PX;
    background-color: green;
}

#contact, #profile{
    height: 200px
}



hr{
    border-color:black;
    background-color: black;
}

#education, #experience{
    line-height: 4px;
}

#contact p{
    margin: 5px;
}


.content{
    margin-top: 0;
}
